body {
    color: #00ff00;
    background-color: #00008b;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    font-size: 30px;
}
a:hover {
    font-weight: bold;
    color: #ffff00;
}
a{
    color: #ffff00;
}