.new-transaction-area {
    display: flex;
    flex-direction: column;
    width: 370px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 193%;
    left: 18%;
    z-index: 10;
}


.new-transaction-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.people-wrapper {
    display: flex;
    gap: 15px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.add-new-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-new-circle {
    width: 35px;
    height: 35px;
    background-color: #FF5505;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5px;
}
